Data Cleaning

In [71]:
import pandas as pd
import numpy as np
df= pd.read_csv('./data/houses.csv')
display(df)

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,30785000,210000.0,APARTMENT,APARTMENT,Wallonia,Hainaut,Tournai,7640,NaN,NaN,...,0,0.0,0,1,AS_NEW,NaN,MISSING,MISSING,1,NaN
75507,13524000,780000.0,APARTMENT,PENTHOUSE,Brussels-Capital,Brussels,Brussels,1200,50.840183,4.435570,...,0,0.0,0,0,AS_NEW,95.0,B,GAS,1,NaN
75508,43812000,798000.0,HOUSE,MIXED_USE_BUILDING,Brussels-Capital,Brussels,Brussels,1080,NaN,NaN,...,0,0.0,0,1,TO_RENOVATE,351.0,G,GAS,0,NaN
75509,49707000,575000.0,HOUSE,VILLA,Flanders,West Flanders,Veurne,8670,NaN,NaN,...,1,NaN,0,1,AS_NEW,269.0,C,GAS,1,795.0
75510,65278000,515000.0,APARTMENT,PENTHOUSE,Flanders,Antwerp,Antwerp,2000,51.220753,4.410247,...,0,0.0,0,0,MISSING,NaN,MISSING,MISSING,1,NaN

In [72]:
df.isnull().sum()

id                                    0
price                                 0
property_type                         0
subproperty_type                      0
region                                0
province                              0
locality                              0
zip_code                              0
latitude                          14098
longitude                         14098
construction_year                 33391
total_area_sqm                     7615
surface_land_sqm                  36256
nbr_frontages                     26346
nbr_bedrooms                          0
equipped_kitchen                      0
fl_furnished                          0
fl_open_fire                          0
fl_terrace                            0
terrace_sqm                       13140
fl_garden                             0
garden_sqm                         2939
fl_swimming_pool                      0
fl_floodzone                          0
state_building                        0
primary_energy_consumption_sqm    26567
epc                                   0
heating_type                          0
fl_double_glazing                     0
cadastral_income                  44967
dtype: int64

In [73]:
# Changing value for kitech to 0 or 1
# df['equipped_kitchen'].unique()
# kitchen_type=['INSTALLED', 'HYPER_EQUIPPED', 'USA_HYPER_EQUIPPED',
#        'NOT_INSTALLED', 'SEMI_EQUIPPED', 'USA_INSTALLED',
#        'USA_SEMI_EQUIPPED', 'USA_UNINSTALLED']
# df['equipped_kitchen']= df['equipped_kitchen'].apply(lambda x: 0 if x== 'MISSING' else 1 )

In [74]:
# combining data for other aminities 
other_amenities_col = ['fl_furnished','fl_double_glazing','fl_open_fire','fl_swimming_pool','fl_floodzone']
df['other_amenities'] = df[other_amenities_col].sum(axis=1)
#df['other_amenities'] = df['other_amenities'].apply(lambda x: 1 if x else 0)
display(df)

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income,other_amenities
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0.0,0,0,MISSING,231.0,C,GAS,1,922.0,1
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0,1
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN,1
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN,1
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,30785000,210000.0,APARTMENT,APARTMENT,Wallonia,Hainaut,Tournai,7640,NaN,NaN,...,0.0,0,1,AS_NEW,NaN,MISSING,MISSING,1,NaN,2
75507,13524000,780000.0,APARTMENT,PENTHOUSE,Brussels-Capital,Brussels,Brussels,1200,50.840183,4.435570,...,0.0,0,0,AS_NEW,95.0,B,GAS,1,NaN,1
75508,43812000,798000.0,HOUSE,MIXED_USE_BUILDING,Brussels-Capital,Brussels,Brussels,1080,NaN,NaN,...,0.0,0,1,TO_RENOVATE,351.0,G,GAS,0,NaN,1
75509,49707000,575000.0,HOUSE,VILLA,Flanders,West Flanders,Veurne,8670,NaN,NaN,...,NaN,0,1,AS_NEW,269.0,C,GAS,1,795.0,2
75510,65278000,515000.0,APARTMENT,PENTHOUSE,Flanders,Antwerp,Antwerp,2000,51.220753,4.410247,...,0.0,0,0,MISSING,NaN,MISSING,MISSING,1,NaN,2

In [75]:
#drop columns which contains hig number of null vales
df.drop(['id','nbr_frontages','cadastral_income','epc','surface_land_sqm','fl_terrace','fl_garden','fl_furnished','fl_double_glazing','fl_open_fire','fl_swimming_pool','fl_floodzone'],axis=1,inplace= True)

In [76]:
df = df.dropna(subset=['construction_year','latitude','longitude','primary_energy_consumption_sqm'], axis=0)
#df =df.dropna(axis=0)
display(df.isnull().sum())

price                                0
property_type                        0
subproperty_type                     0
region                               0
province                             0
locality                             0
zip_code                             0
latitude                             0
longitude                            0
construction_year                    0
total_area_sqm                    1798
nbr_bedrooms                         0
equipped_kitchen                     0
terrace_sqm                       5507
garden_sqm                        1327
state_building                       0
primary_energy_consumption_sqm       0
heating_type                         0
other_amenities                      0
dtype: int64

In [78]:
df.dtypes

price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
latitude                          float64
longitude                         float64
construction_year                 float64
total_area_sqm                    float64
nbr_bedrooms                      float64
equipped_kitchen                   object
terrace_sqm                       float64
garden_sqm                        float64
state_building                     object
primary_energy_consumption_sqm    float64
heating_type                       object
other_amenities                     int64
dtype: object

In [79]:
df.nunique()

price                              1885
property_type                         2
subproperty_type                     23
region                                3
province                             11
locality                             43
zip_code                            940
latitude                          20287
longitude                         20292
construction_year                   208
total_area_sqm                      707
nbr_bedrooms                         26
equipped_kitchen                      9
terrace_sqm                         177
garden_sqm                         1009
state_building                        7
primary_energy_consumption_sqm     1387
heating_type                          8
other_amenities                       5
dtype: int64

In [80]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
price,24936.0,NaN,NaN,NaN,434566.881056,420440.871826,77000.0,242875.0,330000.0,475000.0,11450000.0
property_type,24936,2,HOUSE,13610,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subproperty_type,24936,23,HOUSE,9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,24936,3,Flanders,17719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,24936,11,Antwerp,4917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
locality,24936,43,Antwerp,2715,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,24936.0,NaN,NaN,NaN,4973.560836,3089.965928,1000.0,2170.0,3930.0,8400.0,9992.0
latitude,24936.0,NaN,NaN,NaN,50.938457,0.302755,48.824985,50.808461,50.96079,51.176856,51.499335
longitude,24936.0,NaN,NaN,NaN,4.298228,0.800296,2.372534,3.754649,4.374793,4.833088,6.325555
construction_year,24936.0,NaN,NaN,NaN,1973.963466,39.711232,1760.0,1956.0,1975.0,2007.0,2024.0
total_area_sqm,24936.0,NaN,NaN,NaN,161.698348,119.236018,12.0,94.0,135.0,191.0,5000.0
nbr_bedrooms,24936.0,NaN,NaN,NaN,2.857595,1.687702,0.0,2.0,3.0,3.0,100.0
equipped_kitchen,24936,9,MISSING,9280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
terrace_sqm,24936.0,NaN,NaN,NaN,8.936678,34.790775,0.0,0.0,0.0,10.0,3466.0
garden_sqm,24936.0,NaN,NaN,NaN,133.725738,1325.144338,0.0,0.0,0.0,0.0,113332.0
state_building,24936,7,GOOD,8818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_energy_consumption_sqm,24936.0,NaN,NaN,NaN,429.903274,19007.150255,-99.0,119.0,224.0,374.0,2994164.0
heating_type,24936,8,GAS,12810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
other_amenities,24936.0,NaN,NaN,NaN,1.335098,0.788221,0.0,1.0,1.0,2.0,4.0

In [81]:
df.to_csv("./data/clean_data.csv",index=False)